<!DOCTYPE html>
<html>
  <head>
    <title>♥ Cake randomizer ♥</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap-responsive.css" rel="stylesheet" media="screen">
    <link href="/css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="/css/cake-randomizer.css" rel="stylesheet" media="screen">
    <link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700|Lobster|Open+Sans:400,800' rel='stylesheet' type='text/css'>
    <style>
      body {
        background-image: url('images/<%= rand(1..4) %>.jpg');
        background-repeat: no-repeat;
      }
    </style>
  </head>
  <body>
    <header>
      <div class="container">
        <h1>Random has never been so tasty!</h1>
      </div>
    </header>

    <div class="container-fluid">
      <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <form class="creator-box" method="post" action="<%= url '/' %>" role="form" id="cakecreator" name="cakecreator">
          <div class="form-group">
            <label for="name">Your name, please:</label>
            <input class="form-control" type="text" id="name" name="name">
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" id="adventurousness" name="adventurousness"> Adventurous?
            </label>
          </div>
          <div class="text-center">
          <button type="submit" class="btn btn-default btn-lg" id="cakecreator-submit">Randomize!</button>
          </div>
        </form>
        </div>
      </div>
    </div>

    <script src='<%= url "/js/jquery-2.0.3.js" %>'></script>
    <script src='<%= url "/js/bootstrap.js" %>'></script>
  </body>
</html>
