body {
  background-color: #ddd;
  font-family: 'Open Sans', sans-serif;
  padding-bottom: 70px;
}

header {
  background-color:#E1D76E;
}

h1 {
  font-family: 'Lobster', cursive;
  font-size: 42px;
  color: #1E1914;
}

.creator-box {
  background-color:#D9E6DBD;
  padding: 20px;
  margin-top: 60px;
}

.navbar {
  background-color: #6EA48D;
}

.recipe-welcome {
  background-color: #D9E6DB;
  padding: 20px;
  margin-top: 60px;
}
