<!DOCTYPE html>
<html>
  <head>
    <title>Cake randomizer</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:image" content="https://cake-randomizer.herokuapp.com/public/images/share.png" />
    <link rel="icon" type="image/x-icon" href="public/images/favicon.ico">
    <link rel="apple-touch-icon-precomposed" href="public/images/favicon.ico">
    <link href="public/css/bootstrap-theme.min.css" rel="stylesheet" media="screen">
    <link href="public/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="public/css/cake-randomizer.css" rel="stylesheet" media="screen">
    <link href="https://fonts.googleapis.com/css?family=Lobster|Open+Sans" rel="stylesheet" type="text/css">
  </head>
  <body>
    <header>
      <div class="container-fluid" id="header"></div>
    </header>

    <div class="container-fluid">
        {% block content %}
        {% endblock content %}
    </div>
    <div class="inner">
      <p><a href="https://github.com/xamebax/cake-randomizer">Cake Randomizer version {{ version }} </a>
    </div>
    <script src='public/js/bootstrap.js'></script>
  </body>
</html>
